---
import Header from "../components/Header.astro"
import Main from "../components/Main.astro"
import Layout from "../layouts/Layout.astro"
import Images from "../components/Images.astro"
import Design from "../components/Design.astro"
import Fonts from "../components/Fonts.astro"
---

<Layout
  title="Recursos de programación - ¡Las mejores herramientas para programadores!"
  description="Recopilación de todas las webs y herramientas que nos ayudan a el desarrollo de nuestras paginas web, desde compresores de imágenes, paletas de colores hasta herramientas para medir los pixeles o catálogos de componentes, bienvenido y disfruta de los recursos agrupados para ti."
>
  <Header />
  <main class="w-auto px-10 lg:w-[1000px] m-auto">
    <Main />
    <Images />
    <Design />
    <Fonts />
  </main>
</Layout>
