<div>
  <main class="flex flex-col py-64 justify-center items-center">
    <h1 class="font-bold text-4xl">Recursos para programadores</h1>
    <p class="mt-2">
      Aquí encontraras todas la herramientas y webs que necesitas para
      desarrollar tus paginas web.
    </p>
  </main>
</div>
